<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>RentCar</title>
    <link th:href="@{/css/bootstrap/bootstrap.css}" rel="stylesheet" />
    <script th:src="@{/js/bootstrap/bootstrap.bundle.js}" type="text/javascript"></script>
</head>
<body>
<div class="card">
    <!--
  <div class="card-header text-bg-dark">
    AUTENTICACIÓN
  </div>
  <div class="card-body">
      <form th:action="@{/auth/login}" method="post">
      <div class="form-floating mb-3">
        <input type="text" class="form-control" id="email" name="email" placeholder="name@example.com">
        <label for="email">Usuario</label>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="contrasena" name="contrasena" placeholder="Password">
        <label for="contrasena">Password</label>
      </div>
      <button type="submit" class="btn btn-primary">INGRESAR</button>
    </form>-->

    <section class="h-100 gradient-form" style="background-color: #eee;">
        <div class="container py-5 h-100">
            <form th:action="@{/auth/login}" method="post">
                <div class="row d-flex justify-content-center align-items-center h-100">
                    <div class="col-xl-10">
                        <div class="card rounded-3 text-black">
                            <div class="row g-0">
                                <div class="col-lg-6">
                                    <div class="card-body p-md-5 mx-md-4">

                                        <div class="text-center">
                                            <h4 class="mt-1 mb-5 pb-1">We are RentCar</h4>
                                        </div>

                                        <form>
                                            <p>Please login to your account</p>

                                            <div data-mdb-input-init class="form-outline mb-4">
                                                <label for="nomadmin">Usuario</label>
                                                <input type="text" class="form-control" id="nomadmin" name="nomadmin" placeholder="name@example.com">

                                            </div>

                                            <div data-mdb-input-init class="form-outline mb-4">
                                                <label for="contrasena">Password</label>
                                                <input type="password" class="form-control" id="contrasena" name="contrasena" placeholder="Password">

                                            </div>

                                            <div class="text-center pt-1 mb-5 pb-1">
                                                <button data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Log
                                                    in</button>
                                                <a class="text-muted" href="#!">Forgot password?</a>
                                            </div>

                                            <div class="d-flex align-items-center justify-content-center pb-4">
                                                <p class="mb-0 me-2">Don't have an account?</p>
                                                <button type="button" data-mdb-button-init data-mdb-ripple-init class="btn btn-outline-danger">Create new</button>
                                            </div>

                                        </form>

                                    </div>
                                </div>
                                <div class="col-lg-6 d-flex align-items-center gradient-custom-2">
                                    <div class="text-white px-3 py-4 p-md-5 mx-md-4">
                                        <h4 class="mb-4">Somos tu puerta de entrada a viajes inolvidables.</h4>
                                        <p class="small mb-0">"En RentCar, nos dedicamos a hacer realidad tus viajes más extraordinarios. Nuestro compromiso con la calidad, la seguridad y la satisfacción del cliente nos impulsa a ofrecerte no solo vehículos confiables, sino también un servicio excepcional en cada paso del camino. Descubre el mundo con nosotros y deja una huella imborrable en tus recuerdos. ¡Bienvenido a tu próxima gran aventura!"</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </section>

</div>
</div>
</body>
</html>